trunk/bing2/bing/Service References/ServiceReference2/Campaigns1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:11201/Campaigns.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/bing.Web" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCampaigns">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCampaignsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/bing.Web" minOccurs="0" name="SelectCampaignsResult" nillable="true" type="q1:ArrayOfReal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCampanieById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCampanieByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/bing.Web" minOccurs="0" name="SelectCampanieByIdResult" nillable="true" type="q2:Real" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectComentarii">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="campanie_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectComentariiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/bing.Web" minOccurs="0" name="SelectComentariiResult" nillable="true" type="q3:ArrayOfComentariiDetaliat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FK_real" type="xs:int" />
        <xs:element minOccurs="0" name="FK_user" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCommentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectDonationsByUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectDonationsByUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/bing.Web" minOccurs="0" name="SelectDonationsByUserIdResult" nillable="true" type="q4:ArrayOfDonatiiDetalii" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectDonatiiComentariiByDonatie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectDonatiiComentariiByDonatieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/bing.Web" minOccurs="0" name="SelectDonatiiComentariiByDonatieResult" nillable="true" type="q5:ArrayOfComentariiDonatiiType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCommentDonations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FK_donatie" type="xs:int" />
        <xs:element minOccurs="0" name="FK_user" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCommentDonationsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>