trunk/bing2/bing/Service References/testService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:11201/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:11201/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:11201/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/bing.Web" />
      <xsd:import schemaLocation="http://localhost:11201/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
      <xsd:import schemaLocation="http://localhost:11201/Service1.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_getPlantsFromDB_InputMessage">
    <wsdl:part name="parameters" element="tns:getPlantsFromDB" />
  </wsdl:message>
  <wsdl:message name="IService1_getPlantsFromDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPlantsFromDBResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getChallengesFromDB_InputMessage">
    <wsdl:part name="parameters" element="tns:getChallengesFromDB" />
  </wsdl:message>
  <wsdl:message name="IService1_getChallengesFromDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:getChallengesFromDBResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getAchievementsFromDB_InputMessage">
    <wsdl:part name="parameters" element="tns:getAchievementsFromDB" />
  </wsdl:message>
  <wsdl:message name="IService1_getAchievementsFromDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAchievementsFromDBResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getAnimalHistoryFromDB_InputMessage">
    <wsdl:part name="parameters" element="tns:getAnimalHistoryFromDB" />
  </wsdl:message>
  <wsdl:message name="IService1_getAnimalHistoryFromDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAnimalHistoryFromDBResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAnimalFromDB_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAnimalFromDB" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAnimalFromDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAnimalFromDBResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAnimalByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAnimalByID" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAnimalByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAnimalByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTop3IstoricAnimaleForUserX_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTop3IstoricAnimaleForUserX" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTop3IstoricAnimaleForUserX_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTop3IstoricAnimaleForUserXResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserByUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByUsername" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserByUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserByEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByEmail" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserByEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserByUsernameAndPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByUsernameAndPassword" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserByUsernameAndPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByUsernameAndPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RegisterUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUser" />
  </wsdl:message>
  <wsdl:message name="IService1_RegisterUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="getPlantsFromDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getPlantsFromDB" message="tns:IService1_getPlantsFromDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getPlantsFromDBResponse" message="tns:IService1_getPlantsFromDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getChallengesFromDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getChallengesFromDB" message="tns:IService1_getChallengesFromDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getChallengesFromDBResponse" message="tns:IService1_getChallengesFromDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAchievementsFromDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getAchievementsFromDB" message="tns:IService1_getAchievementsFromDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getAchievementsFromDBResponse" message="tns:IService1_getAchievementsFromDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAnimalHistoryFromDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getAnimalHistoryFromDB" message="tns:IService1_getAnimalHistoryFromDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getAnimalHistoryFromDBResponse" message="tns:IService1_getAnimalHistoryFromDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAnimalFromDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAnimalFromDB" message="tns:IService1_GetAnimalFromDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAnimalFromDBResponse" message="tns:IService1_GetAnimalFromDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAnimalByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAnimalByID" message="tns:IService1_GetAnimalByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAnimalByIDResponse" message="tns:IService1_GetAnimalByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTop3IstoricAnimaleForUserX">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTop3IstoricAnimaleForUserX" message="tns:IService1_GetTop3IstoricAnimaleForUserX_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTop3IstoricAnimaleForUserXResponse" message="tns:IService1_GetTop3IstoricAnimaleForUserX_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUserByUsername" message="tns:IService1_GetUserByUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUserByUsernameResponse" message="tns:IService1_GetUserByUsername_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUserByEmail" message="tns:IService1_GetUserByEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUserByEmailResponse" message="tns:IService1_GetUserByEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByUsernameAndPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUserByUsernameAndPassword" message="tns:IService1_GetUserByUsernameAndPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUserByUsernameAndPasswordResponse" message="tns:IService1_GetUserByUsernameAndPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RegisterUser" message="tns:IService1_RegisterUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RegisterUserResponse" message="tns:IService1_RegisterUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getPlantsFromDB">
      <soap:operation soapAction="http://tempuri.org/IService1/getPlantsFromDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getChallengesFromDB">
      <soap:operation soapAction="http://tempuri.org/IService1/getChallengesFromDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAchievementsFromDB">
      <soap:operation soapAction="http://tempuri.org/IService1/getAchievementsFromDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAnimalHistoryFromDB">
      <soap:operation soapAction="http://tempuri.org/IService1/getAnimalHistoryFromDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnimalFromDB">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAnimalFromDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnimalByID">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAnimalByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTop3IstoricAnimaleForUserX">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTop3IstoricAnimaleForUserX" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByUsername">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUserByUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByEmail">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUserByEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByUsernameAndPassword">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUserByUsernameAndPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <soap:operation soapAction="http://tempuri.org/IService1/RegisterUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:11201/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>