trunk/bing2/bing/Service References/testService/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:11201/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/bing.Web" />
  <xs:element name="getPlantHistoryFromDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element minOccurs="0" name="imagine1" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPlantHistoryFromDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/bing.Web" minOccurs="0" name="getPlantHistoryFromDBResult" nillable="true" type="q1:ArrayOfgetPlantHistory_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPlantsFromDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isFromPadure" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPlantsFromDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/bing.Web" minOccurs="0" name="getPlantsFromDBResult" nillable="true" type="q2:ArrayOfgetPlants_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getChallengesFromDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getChallengesFromDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/bing.Web" minOccurs="0" name="getChallengesFromDBResult" nillable="true" type="q3:ArrayOfgetChallenges_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAchievementsFromDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAchievementsFromDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/bing.Web" minOccurs="0" name="getAchievementsFromDBResult" nillable="true" type="q4:ArrayOfgetAchievement_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAnimalHistoryFromDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user_id" type="xs:int" />
        <xs:element minOccurs="0" name="imagine1" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAnimalHistoryFromDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/bing.Web" minOccurs="0" name="getAnimalHistoryFromDBResult" nillable="true" type="q5:ArrayOfgetAnimalStats_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnimalFromDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isFromPadure" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnimalFromDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/bing.Web" minOccurs="0" name="GetAnimalFromDBResult" nillable="true" type="q6:ArrayOfSelectAnimal_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnimalByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnimalByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/bing.Web" minOccurs="0" name="GetAnimalByIDResult" nillable="true" type="q7:Animale" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTop3IstoricAnimaleForUserX">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="AnimalID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTop3IstoricAnimaleForUserXResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/bing.Web" minOccurs="0" name="GetTop3IstoricAnimaleForUserXResult" nillable="true" type="q8:ArrayOfIstoricAnimalPadureForUserX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByUsername">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByUsernameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/bing.Web" minOccurs="0" name="GetUserByUsernameResult" nillable="true" type="q9:Usr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/bing.Web" minOccurs="0" name="GetUserByEmailResult" nillable="true" type="q10:Usr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByUsernameAndPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByUsernameAndPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/bing.Web" minOccurs="0" name="GetUserByUsernameAndPasswordResult" nillable="true" type="q11:Usr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="region" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>